<div class="popup">
  <h3><u>What is this?</u></h3>
  <p>
    This is a web app written in Angular for Mario Kart Double Dash time
    trials speedrunners. All development was done by Daniel Baamonde, AKA dannyb21892 on
    <a href="https://www.twitch.tv/dannyb21892">twitch</a>, <a href="https://twitter.com/dannyb21892">twitter</a>,
    and <a href="https://discord.gg/wATK4Me">discord</a>. Feel free to reach out on any of those
    if this FAQ doesn't answer your questions.
  </p>
  <h3><u>How do I use it?</u></h3>
  <p>
    Type your name as it appears on the player's page leaderboards into the textbox at the top of the screen.
    If you don't have one, it's ok! Just type whatever name you like, and the grid will start fresh.
    Then either click outside the textbox, press enter, or click the "Sync to Player's Page"
    button to load in your times. Doing this will grab all of your PRs, as well as the
    current standards, rankings, world records, and other relevant stats.
  </p>
  <p>
    The main grid should now be populated with all of your latest player's page data under
    the "User Data" column group. On the standards section of the grid, gold highlighted
    times represent the standard of the current World Record, and blue highlighted times
    represent the standard of your current PR. If you're tied with the WR standard, you'll see both colors.
    The course, trial, and predefined standard columns are all locked in position. However you can
    drag the User Data subcolumns around within the User Data header to suit your preference. The same goes for
    the "Goals" columns. You can also click the "Customize the Grid" button in the top right corner for a set of checkboxes
    corresponding to the visibility of the User Data and Goals sub columns. Uncheck a box to hide it if you don't care
    about that data. To bring it back, just reopen that menu and check the box. Your column visibility
    preferences will be saved on the browser independently of the username you are using.
  </p>
  <p>
    A main function of this app is the ability to edit your times in place, and have
    all of the relevant stats update as well. Since the player's page only updates about
    once per week, you can nicely keep track of all your progress since the last update
    this way. To update a time, simply double click in the cell in the "PR" column near the
    left of the grid which corresponds to the time trial you have improved on. Type a valid
    time, then click enter to lock it in. A valid time is of the form x'yy"zzz, xy"zzz, or x"zzz
    where x can not be 0 and zzz can also be zz or just z. The grid will not accept
    an incorrect format and will revert to the last valid value it contained. When the
    time updates, your blue cell marker will also update if you improved a standard, and
    all relevant stats in the same row will also update. Cells under the User Data column will
    also have gold text if you have improved over what is currently listed on the player's page.
    This way you can easily keep track of what to work on. If you'd like to revert a single row to
    the way it shows on your Player's Page profile (like if you make a typo inputting a time)
    then simply click the X in the "Sync" column.
  </p>
  <p>
    Another major function of the app is to set and track goals on each time trial. Of the three
    columns under the "Goals" header, two are editable: "Goal PR", and "Goal Rank". Double click a cell
    and type the goal you wish to meet. The other two goals columns will autopopulate with the corresponding
    rank, or time necessary to meet that goal, and the time remaining until you reach it. A goal will also
    turn gold when it is reached, for a quick visual indicator of what goals are already complete.
  </p>
  <p>
    I've also built in a Player's Page submitter. It used to automatically submit for you, but since submissions
    are strictly forum posts now, that is no longer possible. However this tool can still help you submit accurately!
    If you have any PRs that are both better than the ones listed on your PP then you may submit those all at once
    with the "Submit Times" button in the top right corner. It will generate a submission for you, which you can then
    easily copy and paste into the forum topic linked there. You can also use this feature even if you don't have a PP
    profile. In this case the submitter will ask you to fill in some identifying information before allowing the
    submission.
  </p>
  <p>
    Lastly is the All Tracks speedrun tracker. This category was added to speedrun.com/mkdd, and you can use this tool
    in place of something like livesplit to track your runs. Click the All Tracks Run button in the top right to
    bring up the window. The tool will use your time trial PR's as your best splits to track your best possible time
    along the way. After each race, input the time you got, and when you have completed all 16 tracks the app will
    store your new time if it was a new best. To clear your best time that the app remembers, just use the button which
    says so.
  </p>
  <p>
    Note that this app does not use any log in system, and just relies on the name you
    type into the input field on top. However the app does store a small data object in
    your browser to remember the state of the app on next launch, so you will not lose any
    times that you entered and are also not yet updated on the player's page. If at any
    time you DO want to remove any times that you have updated yourself, and re-sync your
    data to only what is shown on your player's page profile, just click the "Sync to Player's Page"
    button once again. Note also that if you ever type in someone else's name, that data
    will overwrite whatever you had saved for the name you were using previously.
  </p>
  <h3><u>What is the information on the lower grid?</u></h3>
  <p>
    The lower grid shows several statistics about your performance as a whole. Here is an explanation of
    those which might not already be self explanatory:
  </p>
  <h4>Overall Standard</h4>
  <p>
    Chooses the standard that has the smallest point value which is also strictly larger than your average points.
    For example, if your average point value is in the range 12 ≤ x ≤ 12.99, your overall standard is the 13 point
    Hero C. In other words your average points have to actually beat a standard's point value to achieve the overall standard.
  </p>
  <h4>Best Race By Standard</h4>
  <p>
    In a case where one race is your highest standard, that one will appear here. However, it is common to have
    several races tie for your highest standard. In this case, this field will show the race which is tied for the
    highest standard and also the furthest relatively from the previous standard. For example, you have two races that tie for your
    highest standard: a 1'17"5 Intermediate B Peach Beach 3 lap time, and a 1'10"9 Intermediate B Baby Park 3 lap time.
    The surrounding standard cutoffs for Peach Beach are 1'18"0 and 1'17"0, and so you are exactly 50% of the way
    to the higher standard. The surrounding standard cutoffs for Baby Park are 1'11"0 and 1'10"5, and so you area
    only 20% of the way to the higher standard. Therefore the Peach Beach Intermediate B 3-lap is your best race by standard.
  </p>
  <h4>Worst Race By Standard</h4>
  <p>
    Basically the same as the above with the opposite logic for tied lowest standard. The race which is tied for the
    lowest standard and also the furthest relatively from the next standard will appear in this field.
  </p>
  <h4>Suggested Next Goal</h4>
  <p>
    Similar to Worst Race By Standard. This field shows the race which is tied for the
    lowest standard and also the furthest relatively from the previous standard. In other words, out of all the
    races which have your lowest standard, this is the best one among them, and so should probably be easiest for you to
    improve to the next standard. This logic doesnt exactly hold at very high levels, but should be a decent suggestion
    for new and mid tier players.
  </p>
</div>
