<form class="nameField">
  <mat-form-field class="nameFieldInput">
    <input matInput #nameField
            placeholder="Enter your Player's Page Display Name"
            name="username"
            [(ngModel)]="username"
            (blur)="getUserData()"
            (focus)="listenForEnter()"
    >
  </mat-form-field>
</form>
<br/>
<standards-grid
  [standards]="standards"
  [wrs]="wrs"
  [userData]="userData"
>
</standards-grid>
<br/>
<button mat-raised-button color="primary"
        (click)="syncData"
        [disabled]="syncDisabled">
        Sync to Player's Page
</button>
