<div class="control-container">
  <form class="nameField">
    <mat-form-field class="nameFieldInput">
      <input matInput #nameField
              placeholder="Enter your Player's Page Display Name"
              name="username"
              [(ngModel)]="username"
              (blur)="removeListener()"
              (focus)="listenForEnter()"
              autocomplete="off"
      >
    </mat-form-field>
  </form>
  <button mat-raised-button
          style="width: 200px; min-width: 200px; height: 50px; text-align: center;"
          color="primary"
          (click)="refreshAllData()"
          [disabled]="syncDisabled">
          Sync to Player's Page
  </button>
  <button mat-flat-button
          style="width: 200px; min-width: 200px; height: 50px; text-align: center; margin-left: 10px;"
          color="accent"
          (click)="showTreeView()"
          [disabled]="syncDisabled"
          >
          Customize the grid
  </button>
  <button mat-flat-button
          style="width: 200px; min-width: 200px; height: 50px; text-align: center; margin-left: 10px;"
          (click)="showFAQ()"
          >
          How does this work?
  </button>
  <button mat-flat-button
          style="width: 200px; min-width: 200px; height: 50px; text-align: center; margin-left: 10px;"
          (click)="submit()"
          [disabled]="syncDisabled"
          >
          Submit Times
  </button>
</div>
<standards-grid
  [standards]="standards"
  [wrs]="wrs"
  [userData]="userData"
  [username]="username"
  [dumbChangeDetector]="dumbChangeDetector"
>
</standards-grid>
<br/>
<ngx-loading [show]="loading"></ngx-loading>
