/* You can add global styles to this file, and also import other style files */
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham-dark.css";

@import '@angular/material/prebuilt-themes/pink-bluegrey.css';

body {
  background-color: black;
}

.cell-span {
  background-color: #1c1f20;
}

.cell-course-border {
  border-bottom-style: solid !important;
  border-bottom-width: 1px !important;
  border-bottom-color: #5c5c5c !important;
}

.cell-data-border {
  border-right-style: solid !important;
  border-right-width: 1px !important;
  border-right-color: #5c5c5c !important;
}

.wr-time {
  background-color: #ffc500;
  color: black;
}

.pr-time {
  background-color: #4287f5;
}

.ag-header-group-cell-label, .ag-header-cell-label {
  justify-content: center !important;
}

.nameField {
  width: 100%;
}
.nameFieldInput {
  width: 100%;
}
.mat-input-element{
  color: white !important;
}

.standards-grid{
  width: 96%;
  left: 2%;
  height: 90%;
}
